@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

.is--bold{
  font-weight: 700;
}

.is--light{
  color: $grayish-blue;
  font-weight: 500;
}

.quote {
  padding: 2.8rem 1rem;
  display: block;
  text-align: center;

  background: url('/images/pattern-quotes.svg') center top no-repeat;
  background-size: 6.5rem;

  @include lg {
    text-align: left;
    padding: 4.2rem 0 0;

    background-position: 9.2rem top;
    background-size: 9.9rem;
  }
}

.quote-author {
  text-align: center;
  font-size: 1.8rem;

  .is--light{
    display: block;
  }

  @include lg {
    text-align: left;

    .is--light {
      display: inline;
    }
  }
}
