.testimonial {
  max-width: $max-width;
  margin: 0 auto;
  padding: 2.3rem 2.5rem;

  background: url('/images/pattern-curve.svg') left bottom no-repeat;

  @include lg {
    display: grid;
    grid-template-columns: 45% 10% 45%;
  }

  @include xl {
    padding: 5rem 7.2rem;
  }

  &__image{
    background: url('/images/pattern-bg.svg') center center no-repeat;
    background-size: contain;
    margin-bottom: 3.2rem;
    padding: 3rem;

    display: flex;
    justify-content: center;

    @include lg {
      margin-bottom: 0;
      grid-column: 2 / span 2;
      grid-row: 1;
      padding: 6.4rem 9.2rem 6.4rem 6.6rem;
    }
  }

  &__portrait {
    width: 25.5rem;
    border-radius: 1rem;
    box-shadow: 0 3px 5px rgba($dark-blue, .2);

    @include lg {
      width: 54.2rem;
    }
  }

  &__quote{
    
    @include lg {
      grid-column: 1 / span 2;
      grid-row: 1;
      padding-left: 6.2rem;

      display: flex;
      flex-direction: column;
      justify-content: center;

      background-position: 9.6rem center;
    }
  }
}